<header>
    <h1>{{title}}</h1>
    <nav>
        <a {{#equal title "Weather"}} class="active" {{/equal}} href="/">Weather</a>
        <a {{#equal title "About"}} class="active" {{/equal}} href="/about">About</a>
        <a {{#equal title "Help"}} class="active" {{/equal}} href="/help">Help</a>
    </nav>
</header>